@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
.top_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #000000, #434343);
    background-size: cover;   
    min-height: 87vh;
    font-weight: bolder;
}

.top_box div {
    width: 350px;
    height: 200px;
    margin: 50px 20px;
    border-radius: 25px;
}

.inside_top_box {
    font-family: 'EB Garamond', serif;
    padding: 20px;
}

#inside_top_box1 {
    border: 2px solid rgb(163, 102, 255);
    border-bottom: 10px solid rgb(163, 102, 255);
    box-shadow: 9px 4px 7px rgb(163, 102, 255);
    color: rgb(163, 102, 255);
    text-shadow: 2px 2px 2px black;
}

#inside_top_box2 {
    border: 2px solid rgb(59, 196, 104);
    border-bottom: 10px solid rgb(59, 196, 104);
    box-shadow: 9px 4px 7px rgb(59, 196, 104);
    color: rgb(59, 196, 104);
    text-shadow: 2px 2px 3px black;
}

#inside_top_box3 {
    border: 2px solid rgb(255, 112, 77);
    border-bottom: 10px solid rgb(255, 112, 77);
    box-shadow: 9px 4px 7px rgb(255, 112, 77);
    color: rgb(255, 112, 77);
    text-shadow: 2px 2px 3px black;
}

.head {
    font-size: 30px;
    font-weight: bolder;
}

.para {
    font-weight: bolder;
    font-size: 20px;
}